.footer-container {
     background-color: #3c6660;
     padding: 100px;
}

.main-footer-info {
     display: flex;
     justify-content: center;
}

.main-footer-btn {
     margin: 10px;
     margin-top: -50px;
     text-decoration: none;
     color: #fff;
}

.liscense-info {
     display: flex;
     justify-content: center;
     margin-top: -20px;
     color: #ffffff67;
}